$main-color:green;
.cube{
    color: #ffa500 !important;
}

h5{
    letter-spacing: 1px;
}


.contact-img{
    width: 600px;
}
input{
    border: none;
    outline: none;
    border: 1px solid $main-color;
}
p a{
    color: rgb(16, 16, 160);
    cursor: pointer;
    font-weight: 700;
}

.img-fluid{
    margin-top: 50px;
    width: 100% !important;
    border-radius: 10px !important;
}

section{
    background-image: linear-gradient(-225deg , #20E2D7 0% , #F9FEA5 100%);
}


