section{
    background-color: darkgray;
}
.card{
    border-radius: 1rem;
}
input{
    border: none;
    outline: none;
    border: 1px solid green;
}

a{
    font-weight: 700;
    color: rgb(16, 16, 160);
    text-decoration: none;
    cursor: pointer;
}