<section>
    <div class="container-fluid mt-4">
        <div class="row ">
            <div class="col-sm-5">
                <div class="contact-img">
                    <img class="img-fluid" src="imges/addContact.png" alt="">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="forms border rounded-2 p-4 border-success-subtle ">
                    <h3 class="text-center text-success-emphasis position-relative">Add Contact</h3>
                    <div class="row">
                        <form [formGroup]="contactForm">
                            <div class="form-group mb-2">
                                <label class="mb-1 text-success-emphasis" for="firstName">First Name : </label><br>
                                <input formControlName="firstName" type="text" id="firstName" class="w-100 p-1 rounded" placeholder="Enter Your First Name...">
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1 text-success-emphasis" for="lastName">Last Name : </label><br>
                                <input formControlName="lastName" type="text" id="lastName" class="w-100 p-1 rounded" placeholder="Enter Your Last Name...">
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1 text-success-emphasis" for="phone">Phone : </label><br>
                                <input formControlName="phone" type="text" id="phone" class="w-100 p-1 rounded" placeholder="Enter Your Phone Number...">
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1 text-success-emphasis" for="email">E-mail : </label><br>
                                <input formControlName="email" type="email" id="email" class="w-100 p-1 rounded" placeholder="Enter Your Email...">
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1 text-success-emphasis" for="city">City : </label><br>
                                <input formControlName="city" type="text" id="city" class="w-100 p-1 rounded " placeholder="Enter Your City...">
                            </div>
    
                            <div class="buttons d-flex justify-content-center align-items-center gap-5">
                                <button type="button" (click)="submitContact(this.contactForm.value)" [disabled]="!contactForm.valid" class="btn btn-success w-25" >Submit</button>&nbsp;
                                <button type="button" class="btn btn-danger w-25" routerLink="/Contact-List" >Back</button>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>